<app-header></app-header>




<section class="solution-container work-section">
  <div class="solution-top pt-3 mt-4 pb-5">
    <div class="container">
      <div class="text-center wow animated slideInLeft px-0 px-md-5 pb-3">
        <!-- <h2 class="title new-title dark-color font-w-900 pb-4 header-css"> How It Works </h2> -->
        <h2 class="title dark-color font-w-900 pb-4 header-css"> How It Works </h2>

        <p class="pb-4 brand-color3 font-20 line-height25 px-0 px-lg-5"> Below you will see all of the key features of
          the
          <br> <a href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness Business Solutions</a>.
        </p>
        <div class="d-flex flex-wrap solution-button justify-content-center">
          <button routerLink="/demo" type="button"
            class="btn btn-blue-grad black-color text-uppercase  mb-4 mb-sm-0 header-css"> Request a demo </button>
          <a href="{{baseUrl}}studioadmin/choose-plan"
            class="btn btn-pink-grad text-uppercase  ml-0 ml-md-3 header-css">
            Start 14 Day Free Trial</a>

        </div>
      </div>
    </div><!-- end of container -->
  </div>
</section>

<section class="solution-container">
  <div class="container features_section">
    <section class="text-center">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img4.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">YOUR STUDIO, YOUR RULES</h3>
              <p class="card-text">
                <a href="javascript:void(0)" style="cursor: text;">Signal Health Group Wellness</a> wants you to be in
                control of how your business is run. We provide you the options so
                that the software helps run the business the way you want.
              </p>
              <button [routerLink]="['/solution', 1]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img1.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">ENGAGE YOUR CUSTOMERS AND EMPOWER YOUR INSTRUCTORS</h3>

              <p class="card-text">
                The Signal Health Group instructor and customer apps are designed to simplify and engage your customers
                and instructors.
                Classes link with membership passes, instructor and customers can easily connect to book appointments
                for services;
                purchasing a product is easy and won’t cause delays during check in time.
              </p>
              <button [routerLink]="['/solution', 2]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img5.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">CLASSES</h3>

              <p class="card-text">
                Classes are the foundation of most studios. We have put a tremendous amount of thought and care into how
                classes are
                created and managed. Details and the appropriate pass selection are intuitive and easy for your
                customers to find and
                sign up for the classes they want.
                Checking into classes no longer requires long line ups or multiple tablets at your front desk. Signal
                Health Group
                Desktop Software and mobile apps empower instructors and customers to check in quickly easily.
              </p>
              <button [routerLink]="['/solution', 3]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/ic_new_pass.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">PASSES</h3>
              <p class="card-text">
                Passes are a studio’s main source of revenue. Signal Health Group comes with a number of passes ready to
                have a price
                and make them available. Choose from punch passes or time-based passes and publish them in minutes for
                your customers to
                purchase.
              </p>
              <button [routerLink]="['/solution', 4]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img7.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">APPOINTMENTS & SERVICES</h3>

              <p class="card-text">
                Signal Health Group allows customers to book an appointment for a service with an available instructor
                on their mobile
                app or on the web. Booking and paying for personal training, spa treatment, nutritional consultation, or
                physiotherapy
                appointment is easy with our appointment offering. Our notifications will remind your customers so they
                don’t forget
                about their appointment. Late cancellation policies are easily enforced and paid for through the app.
              </p>
              <button [routerLink]="['/solution', 5]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img2.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">DASHBOARD CONTROL PANEL</h3>

              <p class="card-text">
                Owner and managers are going to have a pulse on the business at a glance. Key metrics are at your
                fingertips, with the
                ability to drill down into the details at a click of a button. Add classes or services quickly and
                publish them to the
                web or app in seconds. View your schedule and make changes on the fly.
              </p>
              <button [routerLink]="['/solution', 6]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img10.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">MANAGE INSTRUCTORS</h3>
              <p class="card-text">
                You will save time and effort managing your instructors with <a href="javascript:void(0)"
                  style="cursor: text;"> Signal
                  Health Group Wellness</a>. Create and fill shifts, manage instructor hours, and manage pay rates per
                shift or class.
              </p>
              <button [routerLink]="['/solution', 7]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img3.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">KEEP YOUR MEMBERS AND INSTRUCTORS UP TO DATE</h3>

              <p class="card-text">
                The Signal Health Group notification service gives your customers and instructor the information they
                need about
                classes, memberships, appointments, reminders, and urgent news.
              </p>
              <button [routerLink]="['/solution', 8]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img13.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">MARKETING YOUR BUSINESS</h3>

              <p class="card-text">
                Email and Social promotions will help grow your business. Signal Health Group has partnered with
                Constant Contact saving
                you time and effort. This service is optional and a free trial is available so you can determine if it’s
                right for you.
                If you already have a Constant Contact Account, then we can connect it to your Signal Health Group
                account.
              </p>
              <button [routerLink]="['/solution', 9]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
       

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img11.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">PAYMENTS</h3>

              <p class="card-text">
                Grow your revenue by making the purchase of your service seamless. Get the most out of Signal Health
                Group's solution by
                adding our integrated payments that works in the mobile app or online. Customers can purchase passes,
                services, products
                or pay Cancellation fees with the tap of a button. Learn more about our competitive rates once you have
                logged in to
                your account.
              </p>
              <button [routerLink]="['/solution', 10]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img12.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">POINT OF SALE EQUIPMENT</h3>

              <p class="card-text">
                Signal Health Group payments offer the latest in payment point of sale equipment. Customers love using the Strip, you
                can accept debit and credit cards in person at your front desk and the information will sync automatically with your <a
                  href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness</a>.
              </p>
              <button [routerLink]="['/solution', 11]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../../assets/img/solution_img14.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">ACCOUNTING SYNC</h3>
              <p class="card-text">
                Signal Health Group has partnered with Quickbooks Online to help you manage your business easier and with greater
                accuracy. By using Signal Health Group with your Quickbooks Online account sales, refunds, payroll, and instructor
                contractor payments can be managed with ease. This feature is optional. Contact us to learn more.
              </p>
              <button [routerLink]="['/solution', 12]" class="btn btn-pink-grad ">
                Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<app-footer></app-footer>