<app-header></app-header>


<!-- Solution Content Section -->
<section class="solution-container">
  <div class="solution-top pt-3 mt-4 pb-5">
    <div class="container border-new">
      <div class="text-center wow animated slideInLeft px-0 px-md-5 pb-3">
        <!-- <h2 class="title new-title dark-color font-w-900 pb-4 header-css"> How It Works </h2> -->
        <h2 class="title dark-color font-w-900 pb-4 header-css"> How It Works </h2>

        <p class="pb-4 brand-color3 font-20 line-height25 px-0 px-lg-5"> Below you will see all of the key features of the <br> <a href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness Business Solutions</a>. </p>
       <div class="d-flex flex-wrap solution-button justify-content-center">
        <button routerLink = "/demo" type="button" class="btn btn-blue-grad black-color text-uppercase  mb-4 mb-sm-0 header-css"> Request a demo </button>
        <a href="{{baseUrl}}studioadmin/choose-plan" class="btn btn-pink-grad text-uppercase  ml-0 ml-md-3 header-css"> Start 14 Day Free Trial</a>

       </div>
      </div>
    </div><!-- end of container -->
  </div><!-- end of solution-top -->

  <div class="solution-timeline">
    <div class="container-fluid">
      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-4 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> YOUR STUDIO, YOUR RULES </h4>
            <p class="font-16 brand-color3 text-justify"> <a href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness</a> wants you to be in control of how your business is run. We provide you the options so that the software helps run the business the way you want. </p>
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight">
            <img src="assets/img/solution_img4.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-1) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft text-center">
            <img src="assets/img/solution_img1.png" class="img-fluid">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-5 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> ENGAGE YOUR CUSTOMERS AND EMPOWER YOUR INSTRUCTORS </h4>
            <p class="font-16 brand-color3 text-justify"> The Signal Health Group instructor and customer apps are designed to simplify and engage your customers and instructors. Classes link with membership passes, instructor and customers can easily connect to book appointments for services; purchasing a product is easy and won’t cause delays during check in time. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-2) -->

      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight text-center">
            <img src="assets/img/solution_img5.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-1 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> CLASSES </h4>
            <p class="font-16 brand-color3 text-justify"> Classes are the foundation of most studios. We have put a tremendous amount of thought and care into how classes are created and managed. Details and the appropriate pass selection are intuitive and easy for your customers to find and sign up for the classes they want. </p>
            <p class="font-16 brand-color3 text-justify mt-4"> Checking into classes no longer requires long line ups or multiple tablets at your front desk. Signal Health Group Desktop Software and mobile apps empower instructors and customers to check in quickly easily. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-3) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft">
            <img src="assets/img/ic_new_pass.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-7 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> passes </h4>
            <p class="font-16 brand-color3 text-justify"> Passes are a studio’s main source of revenue. Signal Health Group comes with a number of passes ready to have a price and make them available. Choose from punch passes or time-based passes and publish them in minutes for your customers to purchase. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-4) -->

      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight">
            <img src="assets/img/solution_img7.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-6 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> APPOINTMENTS & SERVICES </h4>
            <p class="font-16 brand-color3 text-justify"> Signal Health Group allows customers to book an appointment for a service with an available instructor on their mobile app or on the web. Booking and paying for personal training, spa treatment, nutritional consultation, or physiotherapy appointment is easy with our appointment offering. Our notifications will remind your customers so they don’t forget about their appointment. Late cancellation policies are easily enforced and paid for through the app. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-5) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft">
            <img src="assets/img/solution_img2.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-2 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> DASHBOARD CONTROL PANEL </h4>
            <p class="font-16 brand-color3 text-justify"> Owner and managers are going to have a pulse on the business at a glance. Key metrics are at your fingertips, with the ability to drill down into the details at a click of a button. Add classes or services quickly and publish them to the web or app in seconds. View your schedule and make changes on the fly. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-6) -->

      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-10 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> MANAGE INSTRUCTORS </h4>
            <p class="font-16 brand-color3 text-justify"> You will save time and effort managing your instructors with <a href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness</a>. Create and fill shifts, manage instructor hours, and manage pay rates per shift or class. </p>
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight">
            <img src="assets/img/solution_img10.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-7) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft text-center">
            <img src="assets/img/solution_img3.png" class="img-fluid">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-3 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> KEEP YOUR MEMBERS AND INSTRUCTORS UP TO DATE </h4>
            <p class="font-16 brand-color3 text-justify"> The Signal Health Group notification service gives your customers and instructor the information they need about classes, memberships, appointments, reminders, and urgent news. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-8) -->

      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight">
            <img src="assets/img/solution_img13.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-14 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> MARKETING YOUR BUSINESS </h4>
            <p class="font-16 brand-color3 text-justify"> Email and Social promotions will help grow your business. Signal Health Group has partnered with Constant Contact saving you time and effort. This service is optional and a free trial is available so you can determine if it’s right for you. If you already have a Constant Contact Account, then we can connect it to your Signal Health Group account. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-9) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft">
            <img src="assets/img/solution_img11.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-11 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> PAYMENTS  </h4>
            <p class="font-16 brand-color3 text-justify"> Grow your revenue by making the purchase of your service seamless. Get the most out of Signal Health Group's solution by adding our integrated payments that works in the mobile app or online. Customers can purchase passes, services, products or pay Cancellation fees with the tap of a button. Learn more about our competitive rates once you have logged in to your account. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-10) -->

      <div class="row solution-text-image">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="solution-text-left solution-12 wow animated slideInLeft">
            <h4 class="dark-color text-uppercase mt-4"> POINT OF SALE EQUIPMENT </h4>
            <p class="font-16 brand-color3 text-justify"> Signal Health Group payments offer the latest in payment point of sale equipment. Customers love using the Strip, you can accept debit and credit cards in person at your front desk and the information will sync automatically with your <a href="javascript:void(0)" style="cursor: text;"> Signal Health Group Wellness</a>. </p>
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6 order-1 order-md-2">
          <div class="solution-image-right wow animated slideInRight">
            <img src="assets/img/solution_img12.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-12) -->

      <div class="row solution-image-text">
        <div class="col-12 col-md-6">
          <div class="solution-image-left wow animated slideInLeft">
            <img src="assets/img/solution_img14.png" class="img-fluid w-100">
          </div>
        </div><!-- end of col-6 -->
        <div class="col-12 col-md-6">
          <div class="solution-text-right solution-13 wow animated slideInRight">
            <h4 class="dark-color text-uppercase mt-4"> ACCOUNTING SYNC </h4>
            <p class="font-16 brand-color3 text-justify"> Signal Health Group has partnered with Quickbooks Online to help you manage your business easier and with greater accuracy. By using Signal Health Group with your Quickbooks Online account sales, refunds, payroll, and instructor contractor payments can be managed with ease. This feature is optional. Contact us to learn more. </p>
          </div>
        </div><!-- end of col-6 -->
      </div><!-- end of row (Section-13) -->

    </div><!-- end of container-fluid -->
  </div><!-- end of solution-timeline -->
</section>
<!-- End of Solution Content Section -->

<app-footer></app-footer>