<app-header></app-header>
<div class="login-bg"> 
<!-- Login Content Section -->
  <div class="login-form-section">
          <div class="d-flex align-items-center justify-content-center login-form-height">
      
            <div class="align-item-start text-center wow animated slideInDown w-100">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <div class="login-box border-radius10 p-4">
                      <div class="login-header text-center mt-4">
                        <img src="assets/img/logo_green_web.png" class="img-color img-fluid mx-auto">
                        <img src="assets/img/logo_white_web.png" class="img-white img-fluid mx-auto">
                        <h3 class="title text-uppercase my-3 mb-3"> studio Franchise </h3>
                        <p class="px-4"> Please login to check your details... </p>
                      </div><!-- end of login-header -->
      
                      <div class="logn-form pt-3 mb-2">
                        <!-- <form> -->
                        <a  href ="{{baseUrl}}studioadmin/login"> <button type="button" class="btn login blue-text-gradient text-uppercase w-100 mb-1"> login </button>  </a> 
                        <a href = "{{baseUrl}}studioadmin/home" > <button type="button" class="btn register text-uppercase w-100 mt-3"> register </button></a> 
                        <!-- <a  href ="javascript:void(0)"> <button type="button" class="btn login blue-text-gradient text-uppercase w-100 mb-1"> login </button>  </a> 
                        <a href = "javascript:void(0)" > <button type="button" class="btn register text-uppercase w-100 mt-3"> register </button></a> -->
                        <!-- </form> -->
                      </div><!-- end of logn-form -->
                    </div><!-- end of login-box -->
                  </div><!-- end of Studio Owner -->
      
                  <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <div class="login-box border-radius10 p-4">
                      <div class="login-header text-center mt-4">
                        <img src="assets/img/logo_green_web.png" class="img-color img-fluid mx-auto">
                        <img src="assets/img/logo_white_web.png" class="img-white img-fluid mx-auto">
                        <h3 class="title text-uppercase my-3 mb-3"> studio Instructor </h3>
                        <p class="px-4"> Please login to check your details... </p>
                      </div><!-- end of login-header -->
      
                      <div class="logn-form pt-3 mb-2">
                        <!-- <form> -->
                          <button routerLink= '/staff-signin' type="button" class="btn login blue-text-gradient text-uppercase w-100 mb-1"> login </button>
                          <button routerLink= '/staff-registration' type="button" class="btn register text-uppercase w-100 mt-3"> register </button>
                        <!-- </form> -->
                      </div><!-- end of logn-form -->
                    </div><!-- end of login-box -->
                  </div><!-- end of Studio Staff -->
      
                  <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <div class="login-box border-radius10 p-4">
                      <div class="login-header text-center mt-4">
                        <img src="assets/img/logo_green_web.png" class="img-color img-fluid mx-auto">
                        <img src="assets/img/logo_white_web.png" class="img-white img-fluid mx-auto">
                        <h3 class="title text-uppercase my-3 mb-3"> studio Customer </h3>
                        <p class="px-4"> Please login to check your details... </p>
                      </div><!-- end of login-header -->
      
                      <div class="logn-form pt-3 mb-2">
                        <!-- <form> -->
                          <button routerLink= '/signin' type="button" class="btn login blue-text-gradient text-uppercase w-100 mb-1"> login </button>
                          <button routerLink= '/registration' type="button" class="btn register text-uppercase w-100 mt-3"> register </button>
                        <!-- </form> -->
                      </div><!-- end of logn-form -->
                    </div><!-- end of login-box -->
                  </div>
                </div><!-- end of row -->        
              </div><!-- end of container -->
            </div>    
      
          </div><!-- end of d-flex -->
  </div>
<!-- End of About Content Section -->
</div>
    