.pricing-studio {
    color: #ffffff !important;
    padding: 70px 0 !important;

    .btn-trial {
        // background-image: linear-gradient(136deg, #77C8DB 0%, #15829D 44%, #126C82 100%);
        color: #ffffff;
        background-color: #2c93ac;
    }
}

.pricing-payment {
    background: #D6E5E8;
}