<!-- Footer -->
<!-- <footer>
    <div class="container">
      <div class="footer-top py-3">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-8">
            <div class="footer-left">
              <ul>
                <li> <a routerLink="/about-us" class="header-css text-uppercase"> About Us </a> </li>
                <li> <a routerLink="/privacy-policy" class="header-css text-uppercase"> Privacy Policy </a> </li>
                <li> <a routerLink="/terms-conditions" class="header-css text-uppercase"> Terms & Conditions </a> </li>
                <li> <a routerLink="/faq" class="header-css"> FAQ </a> </li> -->
<!-- <li> <a routerLink="/help"> Help </a> </li> -->
<!-- <li> <a routerLink="/contact-us" class="header-css text-uppercase"> Contact Us </a> </li>
              </ul>
            </div> -->
<!-- </div> -->
<!-- end of footer-left -->

<!-- <div class="col-12 col-md-4 col-lg-4">
            <div class="footer-right">
              <ul>
                <li> 
                  <a href="https://www.facebook.com/SignalhgWellness" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-facebook font-12"></span>
                    </div>
                  </a>
                </li> -->
<!-- facebook -->
<!-- <li> 
                  <a href="https://www.instagram.com/signalhgwellness/" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-instagram font-12"></span>
                    </div>
                  </a>
                </li> -->
<!-- instagram -->

<!-- <li> 
                  <a href="Javascript:void(0);">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-youtube font-12"></span>
                    </div>
                  </a>
                </li> -->
<!-- Youtube -->
<!-- <li> 
                  <a href="Javascript:void(0);">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-linkedin font-12"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                  </a>
                </li> -->
<!-- linkedin -->
<!-- <li> 
                  <a href="https://twitter.com/SignalWellness" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-twitter font-12"></span>
                    </div>
                  </a>
                </li> -->
<!-- twitter -->
<!-- </ul>
            </div> -->
<!-- </div> -->
<!-- end of footer-right -->
<!-- </div>  -->
<!-- </div> -->
<!-- end of footer-top -->
<!-- <div class="footer-bottom pt-3">
        <div class="row">
          <div class="col-12">
            <div class="footer-copyright">
              <p class="dark mb-2"> Copyright &#169; 2021 Signal Health Group. All rights reserved. </p>
            </div>
          </div>
        </div> -->
<!-- </div> -->
<!-- end of footer-bottom -->
<!-- </div> -->
<!-- end of container -->
<!-- </footer> -->
<!-- End of Footer Section -->

<footer class="main_footer">
  <div class="top_footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="description">
            <img class="img-fluid mb-4 mt-4" src="../../../assets/img/logo_colored.png" alt="">
            <p class="w-75"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua.</p>
            <ul>
              <li> <a href="javascript:avoid(0);"><i class="fa fa-thumb-tack" aria-hidden="true"></i>

                  3753 Howard Huges Parkway Suite 200 <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Las Vegas, NV 89169 <br>


                </a></li>
              <li>
                <span>E: <span><a
                      href="https://mail.google.com/mail/u/0/?view=cm&to=info@signalhg.com&:&bcc&cc&fs=1&tf=1"
                      target="blank" class="brand-color1"> info@signalhg.com </a></span></span>
              </li>
              <li> <a href="javascript:avoid(0);"><i class="fa fa-headphones" aria-hidden="true"></i> 0123456789</a>
              </li>
              <li> <a href="javascript:avoid(0);"><i class="fa fa-clock-o" aria-hidden="true"></i> 8:00 am - 17:00 pm,
                  Monday - Friday</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-3">
          <div class="foot_linking mt-md-5">
            <h4> Quick link</h4>
            <ul>
              <li> <a [routerLink]="['/about']" href="javascript:avoid(0);"> Who We Are </a> </li>
              <li> <a [routerLink]="['/about']" href="javascript:avoid(0);"> Our Mission </a> </li>
              <!-- <li> <a href="javascript:avoid(0);"> Awards </a> </li>
                                <li> <a href="javascript:avoid(0);"> Experience </a> </li>
                                <li> <a href="javascript:avoid(0);"> Success Story </a> </li> -->
            </ul>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-3">
          <div class="foot_linking mt-md-5">
            <h4> Department</h4>
            <ul>
              <!-- <li> <a href="javascript:avoid(0);"> Who We Are </a> </li>
                                <li> <a href="javascript:avoid(0);"> Our Mission </a> </li> -->
              <li> <a [routerLink]="['/blog']" href="javascript:avoid(0);"> Awards </a> </li>
              <li> <a [routerLink]="['/blog']" href="javascript:avoid(0);"> Experience </a> </li>
              <li> <a [routerLink]="['/blog']" href="javascript:avoid(0);"> Success Story </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="copyright_text">
            <p class="mb-0"> © Copyright<a href="javascript:avoid(0);"> Signal Health Group</a> 2021. All Right
              Reserved.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="social_link">
            <ul>
              <li> <a href="javascript:avoid(0);"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li> <a href="javascript:avoid(0);"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li> <a href="javascript:avoid(0);"> <i class="fa fa-youtube" aria-hidden="true"></i></a></li>
              <li> <a href="javascript:avoid(0);"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li> <a href="javascript:avoid(0);"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>