<!-- Footer -->
<footer>
    <div class="container">
      <div class="footer-top py-3">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-8">
            <div class="footer-left">
              <ul>
                <li> <a routerLink="/about-us" class="header-css text-uppercase"> About Us </a> </li>
                <li> <a routerLink="/privacy-policy" class="header-css text-uppercase"> Privacy Policy </a> </li>
                <li> <a routerLink="/terms-conditions" class="header-css text-uppercase"> Terms & Conditions </a> </li>
                <li> <a routerLink="/faq" class="header-css"> FAQ </a> </li>
                <!-- <li> <a routerLink="/help"> Help </a> </li> -->
                <li> <a routerLink="/contact-us" class="header-css text-uppercase"> Contact Us </a> </li>
              </ul>
            </div>
          </div><!-- end of footer-left -->

          <div class="col-12 col-md-4 col-lg-4">
            <div class="footer-right">
              <ul>
                <li> 
                  <a href="https://www.facebook.com/SignalhgWellness" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-facebook font-12"></span>
                    </div>
                  </a>
                </li><!-- facebook -->
                <li> 
                  <a href="https://www.instagram.com/signalhgwellness/" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-instagram font-12"></span>
                    </div>
                  </a>
                </li><!-- instagram -->
            
                <!-- <li> 
                  <a href="Javascript:void(0);">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-youtube font-12"></span>
                    </div>
                  </a>
                </li> -->
                <!-- Youtube -->
                <!-- <li> 
                  <a href="Javascript:void(0);">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-linkedin font-12"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                  </a>
                </li> -->
                <!-- linkedin -->
                <li> 
                  <a href="https://twitter.com/SignalWellness" target="_blank">
                    <div class="clearfix bshadow0 pbs">
                      <span class="icon-twitter font-12"></span>
                    </div>
                  </a>
                </li>
                <!-- twitter -->
              </ul>
            </div>
          </div><!-- end of footer-right -->
        </div> 
      </div><!-- end of footer-top -->
      <div class="footer-bottom pt-3">
        <div class="row">
          <div class="col-12">
            <div class="footer-copyright">
              <p class="dark mb-2"> Copyright &#169; 2021 Signal Health Group. All rights reserved. </p>
            </div>
          </div>
        </div>
      </div><!-- end of footer-bottom -->           
    </div><!-- end of container -->
  </footer>
<!-- End of Footer Section -->
