<app-inner-header></app-inner-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}" ></ngx-loading>
<div class="body-grey">
<!-- Profile Section -->
<div class="profile-section py-5">
        <div class="container">
          <div class="white-bg p-4 p-md-5 border-radius6 box-shadow1">         
            <div class="row">
              <div class="col-10 pb-4">
                <div class="profile-details">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-3">
                      <div class="profile-detail-image ">
                        <div class="userprofile_img box-shadow1"><img [src]="ProfileDetail.profile_img" *ngIf="!imgURL" class="img-fluid border-radius100 w-100"style="height: 200px" >
                        <img [src]="imgURL"  *ngIf="imgURL"class="img-fluid border-radius100  w-100"style="height: 200px" >
                      </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-9">
                      <div class="profile-detail-text">
                        <h2 class="title dark-color font-24 mb-2 text-capitalize">{{ProfileDetail.name}}</h2>
                        <p class="brand-color3"> {{ProfileDetail.email}}</p>
                        <p class="brand-color3"> {{ProfileDetail.mobile1}}</p>
                      </div>
                    </div>
                
                  </div>
                </div>    
              </div>
              <div class="col-2 pb-4 text-right">
                <button routerLink="/client-search" class="btn btn-blue-grad mb-4 text-uppercase font-w-600 d-block ml-auto">Back</button>
              </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="right-productdetail-sec p-4 relative">
                        <h4 class="title text-uppercase mt-5">Purchased Passes</h4>
                
                        <div class="row pt-4" *ngIf="PassDetail.length <= 1">
                            <div class="col-12 col-md-6 mb-3" *ngFor ="let items of PassDetail" >
                                    <div class="available-card">

                            <div class="available-blue-card p-3 p-sm-4" >
    
                                <div class="row mx-0 " >
                                  <div class="pass-logo">
                                    <img src="{{items.studio_logo}}" class="img-fluid">
                                  </div>
                                  <div class="flex-fill pr-4 pl-5 passTextwidth">
                                    <h5 class="white-color font-14 mb-2 mt-0">{{items.pass_name}}</h5>
                                    <!-- <h5 class="white-color font-14 mb-3 mt-0">{{items.pass_type}}</h5> -->
                                    <h5 class="white-color font-14 mb-2 mt-0">${{items.sub_total}} <span class="font-12"> Plus Tax </span></h5>
                                  </div>
                                </div>
                                <div class="row mt-5 align-items-end">
                                  <!-- <div class="col-12 text-left pr-0">
                                    <p class="white-color paratitle">Remaining Classes : 4</p>
                                  </div> -->
                                  <div class="col-6 text-left pr-0">   
                                    <p class="mb-0 white-color paratitle" *ngIf="items.pass_type_category == 'PunchCard'"> Remaining Classes : {{items.remaining_count}} of {{items.total_count}} </p>
                                    <p class="mb-0 white-color paratitle" *ngIf="items.pass_type_category == 'TimeFrame' || items.pass_type_category == 'Other'  || items.pass_type_category == 'Recurring Membership' "> Remaining Days : {{items.remaining_count}} of {{items.total_count}}</p>

                                    <p class="mb-0 white-color paratitle"> Valid For {{items.pass_validity}}</p>         
                                    <p class="mb-0 white-color paratitle"> Start Date : {{items.start_date_utc_new}} </p>
            
                                  </div>
                                  <!-- <div class="col-6 text-right pl-0">
                                    <div class="paraframe">

                                    <p class="mb-0 white-color  paratitle"> {{items.pass_type_name}}</p>
                                    <p class="mb-0 white-color paratitle">Pass Id : {{items.pass_id}} </p>
                                  </div></div> -->
                                </div>
                              </div>
                            </div>
                        </div>
      </div> 
      <owl-carousel-o [options]="PurchasePassDetail_Options" class="new-slider-logo" *ngIf="PassDetail.length > 1"> 
        <ng-template carouselSlide *ngFor ="let items of PassDetail" [id]="items.id" >
    <div class="mb-5" >
            <div class="available-card">
               
              <div class="available-blue-card showicons p-3 p-sm-4" >

                <div class="row mx-0 " >
                  <div class="pass-logo">
                    <img src="{{items.studio_logo}}" class="img-fluid">
                  </div>
                  <div class="flex-fill pr-4 pl-5 passTextwidth">
                    <h5 class="white-color font-14 mb-2 mt-0">{{items.pass_name}}</h5>
                    <!-- <h5 class="white-color font-14 mb-3 mt-0">{{items.pass_type}}</h5> -->
                    <h5 class="white-color font-14 mb-2 mt-0">${{items.sub_total}} <span class="font-12"> Plus Tax </span></h5>
                  </div>
                </div>
                <div class="row mt-5 align-items-end">
                  <!-- <div class="col-12 text-left pr-0">
                    <p class="white-color paratitle">Remaining Classes : 4</p>
                  </div> -->
                  <div class="col-6 text-left pr-0">   
                    <p class="mb-0 white-color paratitle" *ngIf="items.pass_type_category == 'PunchCard'"> Remaining Classes : {{items.remaining_count}} of {{items.total_count}} </p>
                    <p class="mb-0 white-color paratitle" *ngIf="items.pass_type_category == 'TimeFrame' || items.pass_type_category == 'Other'  || items.pass_type_category == 'Recurring Membership' "> Remaining Days : {{items.remaining_count}} of {{items.total_count}}</p>

                    <p class="mb-0 white-color paratitle"> Valid For {{items.pass_validity}}</p>         
                    <p class="mb-0 white-color paratitle"> Start Date : {{items.start_date_utc_new}} </p>

                  </div>
                  <!-- <div class="col-6 text-right pl-0">
                    <div class="paraframe">

                    <p class="mb-0 white-color  paratitle"> {{items.pass_type_name}}</p>
                    <p class="mb-0 white-color paratitle">Pass Id : {{items.pass_id}} </p>
                  </div></div> -->
                </div>
              </div>
            </div><!-- end of purchase-blue-card -->
          
    </div><!-- Card-3 -->
  </ng-template>                   
    </owl-carousel-o> 
      <div class="row pt-4" *ngIf="PassDetail.length == 0">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="text-center">
            <p class="font-awesome black-color font-18 d-inline mx-2 "> No Pass Purchased</p>
          </div>
        </div>
        <div class="col-4"></div>

       
      </div>





                    </div>
      
                    <div class="right-productdetail-sec p-4 relative">
                      <h4 class="title text-uppercase mt-5">Purchased Products</h4>
              
                      <div class="row pt-4" *ngIf="ProductDetail.length <= 1">
                          <div class="col-12 col-md-6 mb-3" *ngFor ="let items of ProductDetail" >
                                <div class="border-radius6 box-shadow1 white-bg px-3 pt-3 pb-2 detail-products" >
                                  <img src="{{items.pro_image}}" class="img-fluid productHeight">
                                  <div class="row pt-3 pb-1">
                                    <div class="col-7 text-left pt-3">
                                      <h5 class="black-color heading-titlenew productname">{{items.product_name}}  </h5>
                                    </div>
                                    <div class="col-5 text-right">
                                      <button type="button" class="btn btn-green-grad">  $ {{items.price}} </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    
    </div> 
    <owl-carousel-o [options]="PurchaseProductDetail_Options" class="new-slider-logo" *ngIf="ProductDetail.length > 1"> 
      <ng-template carouselSlide *ngFor ="let items of ProductDetail" [id]="items.id" >
  <div class="mb-5" >
          <div class="border-radius6 box-shadow1 white-bg px-3 pt-3 pb-2 detail-products">
             <img src="{{items.pro_image}}" class="img-fluid productHeight">
             <div class="row pt-3 pb-1">
               <div class="col-7 text-left pt-3">
                 <h5 class="black-color heading-titlenew productname">{{items.product_name}}  </h5>
               </div>
               <div class="col-5 text-right">
                 <button type="button" class="btn btn-green-grad">  $ {{items.price}} </button>
               </div>
             </div>
           </div>
  </div><!-- Card-3 -->
</ng-template>                   
  </owl-carousel-o> 
    <div class="row pt-4" *ngIf="ProductDetail.length == 0">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="text-center">
          <p class="font-awesome black-color font-18 d-inline mx-2 "> No Products Purchased</p>
        </div>
      </div>
      <div class="col-4"></div>

     
    </div>





                  </div>

                  <div class="row mt-2">
                    <div class="col-8">
                        <h4 class="title text-uppercase">Current Availablity </h4>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                      <button class="btn btn-green-grad" (click)="redirectUrl('/customer-cart',ProfileDetail.id)">
                        <i class="fa fa-shopping-cart"></i>
                        <sup> <span class="notification-count">{{cartval}} </span></sup> </button>
                    </div>
                </div>
                    <div class="right-productdetail-sec p-4 relative">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="title text-uppercase">Available Passes</h4>
                            </div>
                        </div>
                      
                
                        <div class="row pt-4" *ngIf="AvailablePassDetail.length <= 2">
                            <div class="col-md-6 mt-4" *ngFor ="let items of AvailablePassDetail">
                            
                                <div class="available-card">

                            <div class="available-blue-card showicons p-3 p-sm-4" >
    
                                <div class="row mx-0 " >
                                  <div class="pass-logo">
                                    <img src="{{items.studio_logo}}" class="img-fluid">
                                  </div>
                                  <div class="flex-fill pr-4 pl-5 passTextwidth">
                                    <h5 class="white-color font-14 mb-2 mt-0">{{items.pass_name}}</h5>
                                    <!-- <h5 class="white-color font-14 mb-3 mt-0">{{items.pass_type}}</h5> -->
                                    <h5 class="white-color font-14 mb-2 mt-0">${{items.amount}} <span class="font-12"> Plus Tax </span></h5>
                                  </div>
                                </div>
                                <div class="row mt-5 align-items-end">
                                  <!-- <div class="col-12 text-left pr-0">
                                    <p class="white-color paratitle">Remaining Classes : 4</p>
                                  </div> -->
                                  <div class="col-6 text-left pr-0">   
                                    <p class="mb-0 white-color paratitle"> Valid For {{items.pass_validity}}</p>         
                                    <!-- <p class="mb-0 white-color paratitle"> Start Date : {{items.start_date_utc_new}} </p> -->
            
                                  </div>
                                  <!-- <div class="col-6 text-right pl-0">
                                    <div class="paraframe">

                                    <p class="mb-0 white-color  paratitle"> {{items.pass_type_name}}</p>
                                    <p class="mb-0 white-color paratitle">Pass Id : {{items.pass_id}} </p>
                                  </div></div> -->
                                </div>
                                <div class="actionbtns">
                                    <button class="viewproduct" (click)="redirectUrl('/pass-detail',items.id)"><i class="fas fa-eye"></i></button>
                                    <button class="addtocart" (click)="AddToCart('1',items)" *ngIf="items.added_incart == 0"><i class="fas fa-cart-plus"></i></button>
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
                    <!-- </ng-template>                   
                </owl-carousel-o> -->
          <owl-carousel-o [options]="AvailablePassDetail_Options" class="new-slider-logo" *ngIf="AvailablePassDetail.length > 2"> 
            <ng-template carouselSlide *ngFor ="let items of AvailablePassDetail" [id]="items.id" >
        <div class="mb-5" >
                <div class="available-card" >
                   
                  <div class="available-blue-card showicons p-3 p-sm-4" >
    
                    <div class="row mx-0 " >
                      <div class="pass-logo">
                        <img src="{{items.studio_logo}}" class="img-fluid">
                      </div>
                      <div class="flex-fill pr-4 pl-5 passTextwidth">
                        <h5 class="white-color font-14 mb-2 mt-0">{{items.pass_name}}</h5>
                        <!-- <h5 class="white-color font-14 mb-3 mt-0">{{items.pass_type}}</h5> -->
                        <h5 class="white-color font-14 mb-2 mt-0">${{items.amount}} <span class="font-12"> Plus Tax </span></h5>
                      </div>
                    </div>
                    <div class="row mt-5 align-items-end">
                      <!-- <div class="col-12 text-left pr-0">
                        <p class="white-color paratitle">Remaining Classes : 4</p>
                      </div> -->
                      <div class="col-6 text-left pr-0">   
                        <p class="mb-0 white-color paratitle"> Valid For {{items.pass_validity}}</p>         
                        <!-- <p class="mb-0 white-color paratitle"> Start Date : {{items.start_date_utc_new}} </p> -->

                      </div>
                      <!-- <div class="col-6 text-right pl-0">
                        <div class="paraframe">

                        <p class="mb-0 white-color  paratitle"> {{items.pass_type_name}}</p>
                        <p class="mb-0 white-color paratitle">Pass Id : {{items.pass_id}} </p>
                      </div></div> -->
                    </div>
                    <div class="actionbtns">
                        <button class="viewproduct" (click)="redirectUrl('/pass-detail',items)"><i class="fas fa-eye"></i></button>
                        <button class="addtocart" (click)="AddToCart('1',items)" *ngIf="items.added_incart == 0"><i class="fas fa-cart-plus"></i></button>
                    </div>
                  </div>
                </div><!-- end of purchase-blue-card -->
        </div><!-- Card-3 -->
      </ng-template>                   
        </owl-carousel-o>  
      <div class="row pt-4" *ngIf="AvailablePassDetail.length == 0">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="text-center">
            <p class="font-awesome black-color font-18 d-inline mx-2 "> No Item Available</p>
          </div>
        </div>
        <div class="col-4"></div>

       
      </div>
                    </div>


                    <div class="right-productdetail-sec p-4 relative">
                      <div class="row">
                          <div class="col-8">
                              <h4 class="title text-uppercase">Available Products</h4>
                          </div>
                      
                      </div>
                    
              
                      <div class="row pt-4" *ngIf="AvailableProductDetail.length <= 2">
                         
                          <div class="col-md-6 mt-4" *ngFor ="let items of AvailableProductDetail" >
                                <div class="border-radius6 box-shadow1 white-bg px-3 pt-3 pb-2 detail-products showicons" >
                                    <img src="{{items.pro_image}}"  class="productHeight">
                                  <div class="row pt-3 pb-1">
                                    <div class="col-7 text-left pt-3">
                                      <h5 class="black-color heading-titlenew productname">{{items.product_name}}  </h5>
                                    </div>
                                    <div class="col-5 text-right">
                                      <button type="button" class="btn btn-green-grad">  $ {{items.price}} </button>
                                    </div>
                                  </div>
                                  <div class="actionbtns">
                                    <button class="viewproduct" (click)="redirectUrl('/product-detail',items.id)"><i class="fas fa-eye"></i></button>
                                    <button class="addtocart"  (click)="AddToCart('3',items)" *ngIf="items.added_incart == 0"><i class="fas fa-cart-plus"></i></button>
                                </div>
                                </div>
                       
                              </div>
                      </div>
                  <!-- </ng-template>                   
              </owl-carousel-o> -->
        <owl-carousel-o [options]="AvailableProductDetail_Options" class="new-slider-logo" *ngIf="AvailableProductDetail.length > 2"> 
          <ng-template carouselSlide *ngFor ="let items of AvailableProductDetail" [id]="items.id" >
      <div class="mb-5" >

              <div class="border-radius6 box-shadow1 white-bg px-3 pt-3 pb-2 detail-products showicons" >
                  <img src="{{items.pro_image}}"  class="productHeight">
                <div class="row pt-3 pb-1">
                  <div class="col-7 text-left pt-3">
                    <h5 class="black-color heading-titlenew productname">{{items.product_name}}  </h5>
                  </div>
                  <div class="col-5 text-right">
                    <button type="button" class="btn btn-green-grad">  $ {{items.price}} </button>
                  </div>
                </div>
                <div class="actionbtns">
                  <button class="viewproduct" (click)="redirectUrl('/product-detail',items.id)"><i class="fas fa-eye"></i></button>
                  <button class="addtocart"  (click)="AddToCart('3',items)" *ngIf="items.added_incart == 0"><i class="fas fa-cart-plus"></i></button>
              </div>
              </div>
            
      </div><!-- Card-3 -->
    </ng-template>                   
      </owl-carousel-o>  
      
      
    
    <div class="row pt-4" *ngIf="AvailableProductDetail.length == 0">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="text-center">
          <p class="font-awesome black-color font-18 d-inline mx-2 "> No Product Available</p>
        </div>
      </div>
      <div class="col-4"></div>

     
    </div>
                  </div>
                </div>
            </div>

            
        </div>
      </div><!-- end of container -->
    </div>   
    
    

  <!-- End of Profile Section -->    <!-- End of Modal Popup (Change - Password ) -->
</div>
<app-inner-footer></app-inner-footer>