<app-header></app-header>

<!-- Top Banner Section -->
<div class="top-container d-flex align-items-end justify-content-center pb-5">
  <div class="align-item-center text-center pb-5 wow animated slideInDown">
    <h1 class="title white-color font-w-900 mb-5 pt-4 px-5 px-lg-0">  Signal Health Group Wellness </h1>
    <h2 class="title white-color font-w-900 mb-3 mt-4"> Make running your business easier and efficient <br>  to engage with your customers through our optimized software.  </h2>
    <p class="font-w-100 font-20" style="color: #fff  !important;"> Effectively grow your business with our marketing, payments, and accounting programs. </p>
  </div>
</div>
<!-- End of Top Banner Section -->


<!-- Demo Section -->
<div class="demo-section p-0 p-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-0 col-xl-1"></div><!-- empty -->
      <div class="col-12 col-sm-6 col-xl-5 wow animated slideInLeft">
        <a routerLink="/demo" class="">
          <div class="demo-box d-flex align-items-center justify-content-center">
            <h2 class="title brandcolor1 font-w-900"> Request a Demo </h2>
          </div>
        </a>
      </div><!-- end of col-5 -->
      <div class="col-12 col-sm-6 col-xl-5 mt-3 mt-sm-0 wow animated slideInRight">
        <a href="{{baseUrl}}studioadmin/choose-plan">
          <div class="demo-box d-flex align-items-center justify-content-center">
            <div>
              <h2 class="title brandcolor1 font-w-900"> Start a 14 Days Free Trial </h2>               
            </div>
          </div>
        </a>
      </div><!-- end of col-5 -->
    </div>
  </div><!-- end of container-fluid -->
</div>
<!-- End of Demo Section -->


<!-- Promotion Section - 1 -->
<div class="promotion-content-right promotion-slider">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 px-0">
        <div class="promotion-img-animation">
          <img src="assets/img/home_img1.png" class="img-fluid w-100">
        </div>
      </div><!-- end of col-md-7 -->
      <div class="col-12 col-lg-5 px-0">
        <div class="blue-gradient h-100 d-flex align-items-center justify-content-start py-5 py-xl-0">
<!--          
          <owl-carousel-o [options]="customOptions"   class="slider-promotion wow animated slideInRight">
            <ng-template carouselSlide >                   
              <div class="px-4 px-lg-5">
                <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Schedule Classes, Workshops, and Appointments. </h2>            
              </div>
            </ng-template>  
            <ng-template carouselSlide >                 
              <div class="px-4 px-lg-5">
                <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Schedule Classes, Workshops, and Appointments. </h2>            
              </div>
            </ng-template> 
          </owl-carousel-o> -->

          <!-- <div class="owl-carousel slider-promotion owl-theme owl-loaded wow animated slideInRight">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item">
                  <div class="px-4 px-lg-5">
                    <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Schedule Classes, Workshops, and Appointments. </h2>            
                  </div>
                </div>
                <div class="owl-item">
                  <div class="px-4 px-lg-5">
                    <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Sell Passes, Services, and Products. </h2>            
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div id="homeslidermodal" class="carousel slide" data-ride="carousel" >
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#homeslidermodal" data-slide-to="0" class="active"></li>
              <li data-target="#homeslidermodal" data-slide-to="1"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <div class="px-4 px-lg-5">
                  <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Schedule Classes and Appointments </h2>            
                </div>
              </div>
              <div class="carousel-item">
                <div class="px-4 px-lg-5">
                  <h2 class="title font-w-900 white-color pr-0 pr-xl-5 font-36 line-height50 letter-space"> Sell Passes, Services, and Products </h2>            
                </div>
              </div>
            </div>
            <!-- Left and right controls -->
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
            -->
          </div> 



        </div>
      </div><!-- end of col-md-5 -->
    </div>
  </div><!-- end of container-fluid -->
</div> 
<!-- End of Promotion Section - 1 -->


<!-- Promotion Section - 2 -->
<div class="promotion-content-left">
  <div class="container-fluid d-flex flex-nowrap">
    <div class="row">
      <div class="col-12 col-lg-5 px-0 order-2 order-lg-1">
        <div class="pink-gradient h-100 d-flex align-items-center justify-content-start py-5 py-xl-0">
          <div class="px-4 px-lg-5 wow animated slideInLeft">
            <h2 class="title font-w-900 white-color font-36 line-height50 mb-4 mb-lg-5 pr-0 pr-xl-5 letter-space"> Engage customers and instructor with dedicated mobile apps </h2> 
            <p class="white-color font-18 line-height30 pr-0 pr-xl-5 mb-0 "> Grow your business with marketing and payment add-ons services </p>
          </div>
        </div>
      </div><!-- end of col-md-5 -->
      <div class="col-12 col-lg-7 px-0 order-1 order-lg-2">
        <div class="promotion-img-animation">
          <img src="assets/img/home_img2.png" class="img-fluid w-100">
        </div>
      </div><!-- end of col-md-7 -->
    </div>
  </div><!-- end of container-fluid -->
</div> 
<!-- End of Promotion Section - 2 -->


<!-- Foundation Laptop Section -->
<div class="foundation-section pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img src="assets/img/logo_white.png" class="mt-5">
          <h2 class="title white-color font-w-900 text-uppercase my-5"> Signal Health Group will help you grow your business </h2>
          <img src="assets/img/home_foundation_device1.png" class="img-fluid">
          <button routerLink ="/solution" class="btn btn-white d-block mx-auto my-5"> Learn More </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Foundation Laptop Section -->

<app-footer></app-footer>