<app-header></app-header>

<div class="d-flex align-items-end justify-content-center">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div>
        <img src="https://signal-franchise.web.app/assets/images/banner_1.jpeg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h1>Make running your business easier and efficient
          to engage with your customers through our optimized software.</h1>
        <p>Effectively grow your business with our marketing,
          payments, and accounting programs.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://signal-franchise.web.app/assets/images/banner_2.jpeg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h1>Make running your business easier and efficient
          to engage with your customers through our optimized software.</h1>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>


<!-- Demo Section -->
<div class="demo-section p-0 p-lg-5">
  <div class="d-flex flex-wrap solution-button justify-content-center">
    <button routerLink="/demo" type="button"
      class="btn btn-blue-grad black-color text-uppercase  mb-4 mb-sm-0 header-css"> Request a demo </button>
    <a href="{{baseUrl}}studioadmin/choose-plan" class="btn btn-pink-grad text-uppercase  ml-0 ml-md-3 header-css">
      Start
      14 Day Free Trial</a>
  </div>
</div>
<!-- End of Demo Section -->


<div class="row">
  <div class="col-6 image_wrapper">
    <img src="../../../assets/img/home_img1.png" />
    <div class="image-text overlay overlay_0">
      Schedule Classes, Workshops, and Appointments.
    </div>
  </div>
  <div class="col-6 image_wrapper">
    <img src="../../../assets/img/home_img2.png" />
    <div class="image-text overlay overlay_0">
      Engage customers and instructor with dedicated mobile apps
    </div>
  </div>
 
</div>


<!-- Promotion Section - 1 -->
<!-- End of Promotion Section - 1 -->


<!-- Promotion Section - 2 -->



<!-- Foundation Laptop Section -->
<div class="foundation-section pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img src="assets/img/logo_white.png" class="mt-5">
          <h2 class="title white-color font-w-900 text-uppercase my-5"> Signal Health Group will help you grow your
            business </h2>
          <img src="assets/img/home_foundation_device1.png" class="img-fluid">
          <!-- <button routerLink="/solution" class="btn btn-white d-block mx-auto my-5"> Learn More </button> -->
          <div class="d-block">
<a routerLink="/solution" class="btn btn-pink-grad ml-0 ml-md-3 header-css mx-auto my-5">
  Learn More</a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Foundation Laptop Section -->

<app-footer></app-footer>

