@font-face {
    font-family: 'Arial-Rounded';
    src: url('assets/fonts/typo/Arial-Rounded.eot');
    src: url('assets/fonts/typo/Arial-Rounded.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/Arial-Rounded.woff2') format('woff2'),
        url('assets/fonts/typo/Arial-Rounded.woff') format('woff'),
        url('assets/fonts/typo/Arial-Rounded.ttf') format('truetype'),
        url('assets/fonts/typo/Arial-Rounded.svg#Arial-Rounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('assets/fonts/typo/AvenirLTStd-Book.eot');
    src: url('assets/fonts/typo/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/AvenirLTStd-Book.woff2') format('woff2'),
        url('assets/fonts/typo/AvenirLTStd-Book.woff') format('woff'),
        url('assets/fonts/typo/AvenirLTStd-Book.ttf') format('truetype'),
        url('assets/fonts/typo/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('assets/fonts/typo/AvenirLTStd-Medium.eot');
    src: url('assets/fonts/typo/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/AvenirLTStd-Medium.woff2') format('woff2'),
        url('assets/fonts/typo/AvenirLTStd-Medium.woff') format('woff'),
        url('assets/fonts/typo/AvenirLTStd-Medium.ttf') format('truetype'),
        url('assets/fonts/typo/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('assets/fonts/typo/AvenirLTStd-Roman.eot');
    src: url('assets/fonts/typo/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/AvenirLTStd-Roman.woff2') format('woff2'),
        url('assets/fonts/typo/AvenirLTStd-Roman.woff') format('woff'),
        url('assets/fonts/typo/AvenirLTStd-Roman.ttf') format('truetype'),
        url('assets/fonts/typo/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bajoran';
    src: url('assets/fonts/typo/Bajoran.eot');
    src: url('assets/fonts/typo/Bajoran.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/Bajoran.woff2') format('woff2'),
        url('assets/fonts/typo/Bajoran.woff') format('woff'),
        url('assets/fonts/typo/Bajoran.ttf') format('truetype'),
        url('assets/fonts/typo/Bajoran.svg#Bajoran') format('svg');
    font-weight: 100;
    font-style: normal;
}




/********* NEW FONTS. **********/
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/typo/AvenirNextLTPro-Bold.eot');
    src: url('assets/fonts/typo/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('assets/fonts/typo/AvenirNextLTPro-Bold.woff') format('woff'),
        url('assets/fonts/typo/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('assets/fonts/typo/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/typo/AvenirNextLTPro-Regular.eot');
    src: url('assets/fonts/typo/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/typo/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('assets/fonts/typo/AvenirNextLTPro-Regular.woff') format('woff'),
        url('assets/fonts/typo/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('assets/fonts/typo/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}









