<div class="top-bar">
    <div class="container">
        <!-- <div class="row d-flex justify-content-between"> -->
        <div class=" d-flex justify-content-between">
            <div class="topbar-left">
                <ul>
                    <li>
                        <a href="javascript:avoid(0);"><i class="fa  fa-phone-square" aria-hidden="true"></i> (800) 260-6145</a>
                    </li>
                    <li>
                        <a href="javascript:avoid(0);"><i class="fa fa-envelope" aria-hidden="true"></i> Support@website.com</a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right">
                <ul>
                    <li><a href="javascript:avoid(0);" [routerLink]="['/demo']" class="btn active btn_topbar"> Demo</a></li>
                    <li><a [routerLink]="['/login']" class="btn btn_topbar"> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
