






.demo-top-section {
	.demo-video {
		position: relative;

		.demo-video-btn {
			position: absolute;
			background-color: rgba(255,116,147,.5);
			top: 0;
			height: -webkit-fill-available;
			max-height: 510px;
			width: 100%;

			i {
				position: absolute;
				top: 50%;
				margin: 0 auto;
				left: 0;
				right: 0px;
				font-size: 60px;
			}
		}
	}
}

.demo-bottom-section {
	textarea {
		height: 70px;
	}
}







































