
/*.login-box {
	width: 100%;
	max-width: 400px;
	
	.field-icon {
	    float: right;
	    margin-left: -25px;
	    margin-top: 14px;
	    position: absolute;
	    z-index: 2;
	    right: 35px;
	}
}
*/
























