<app-inner-header></app-inner-header>
<div class="body-grey">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}" ></ngx-loading>

<!-- My Studios Section -->
<div class="my-studio py-5 internal-studio">
    <div class="studio-cards">
      <div class="container">
        <div class="row">
          <div class="col-12 pb-3">
            <div class="section-heading">
              <h5 class="title black-color font-w-100 text-uppercase font-16"> my studios </h5>
            </div>
          </div><!-- end of section-heading --> 
     <div class="col-12 col-lg-3 mb-2 px-2" *ngFor="let StudioList of StudioDetail">
      <div  *ngIf="StudioDetail.length != 0">               

            <div class="studio-position-heart">
              <div class="studio-card-newcustom gradient-studio-overlay box-shadow1"
                (click)="redirectUrl(StudioList.business_id)">
                <div class="img-box" style="background-image: url({{StudioList.logo}})">
                </div>
                <div class="studio-detail p-3">
                  <div class="row mx-0 align-items-start">
                    <div class="profile-image box-shadow1">
                      <img src="{{StudioList.logo}}" class="img-fluid">
                    </div>
                    <div class="studio-profile-detail flex-fill pl-3">
                      <h5 class="nametitle classname-title mb-1">{{StudioList.business_name}}</h5>
                      <p class="brand-color3 paratitle mb-2" *ngIf="StudioList.address.length <= 25">
                        {{StudioList.address }}</p>
                      <p class="brand-color3 paratitle mb-2" *ngIf="StudioList.address.length > 25">
                        {{StudioList.address  | ellipsis:25}}</p>
                      <p class="paratitle"><i class="fas fa-map-marker-alt mr-2 mb-0"></i>
                        {{StudioList.distance}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="studio-card-select">
                <i class="fas fa-heart brand-color3 font-22" *ngIf="StudioList.favourite == 0"
                  (click)="addFav(StudioList.business_id,1)"></i>
                <i class="fas fa-heart brand-color2 font-22" *ngIf="StudioList.favourite == 1"
                  (click)="addFav(StudioList.business_id,0)"></i>
              </div>
            </div>

          </div>
        </div>
       

        </div><!-- end  of row -->
        <div class="row  border-radius6 p-3" *ngIf="StudioDetail.length == 0">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p class="font-awesome black-color font-18 d-inline mx-2 "> No Studio available</p>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div><!-- End of studio-cards -->
  </div>          
<!-- End of My Studios Section -->
</div>
<app-inner-footer></app-inner-footer>
