<app-header></app-header>
<div class="app-section-cover d-flex align-items-center justify-content-center pt-5 pb-5 mb-5">
  <h1>Signal Health Group</h1>
  <h2>Customer and instructor mobile apps are available on the Apple App Store and Google Play for Free</h2>
  <div class="d-flex">
    <div class="col-md-6">
      <a href="#"><img
          src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/nDQZHxg6T6OFwuM0j1ux_AppStore.png" /></a>
    </div>
    <div class="col-md-6">
      <a href="#"><img
          src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/BiDHzLuJSoCEnB0jNM1x_PlayStore.jpg" /></a>
    </div>
  </div>
  <h3>
    Once your account has been set up, a welcome email will be automatically sent to your instructor and customer with
    detailed instructions on how to find, download, complete their profiles and select your personal studio in the “My
    Studio” list. Once your studio is selected, they can begin to start using the app.
  </h3>
</div>

<div class="container">
  <div class="solution-top pt-3 mt-4 pb-5">
    <div class="container">
      <div class="text-center wow animated slideInLeft px-0 px-md-5 pb-3">
        <div class="wow animated slideInDown">
          <h2 class="dark-color font-w-900"> Customer and Instructor Mobile Apps </h2>
          <p class="brand-color3 font-16 line-height25 font-w-600"> Signal Health Group
            has two separate mobile apps developed to help you grow and manage your business easier. </p>
        </div>
      </div>
    </div><!-- end of container -->
  </div>
</div>

<div class="container pb-5">
  <div class="card mb-5">
    <div class="card-body">
      <div class="d-flex">
        <div class="col-md-5 col-sm-12">
          <img src="../../../assets/img/app_img1.png" />
        </div>
        <div class="col-md-7 col-sm-12 card-data">
          <h2 class="dark-color font-w-900 pb-2 pr-3"> Customer Mobile App</h2>
          <p class="pb-3 mb-3 brand-color3 font-16 line-height25 font-w-500 border-bottom">The Signal Health Group
            customer mobile app is available for Android and iOS. We built the solution to allow your
            customers to easily find, register, and check in for a class. They can book an appointment and purchase a
            product, pass,
            or service in seconds. </p>
          <div class="d-flex">
            <a href="#"><img class="btn-store"
                src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/nDQZHxg6T6OFwuM0j1ux_AppStore.png" /></a>
            &nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#"><img class="btn-store"
                src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/BiDHzLuJSoCEnB0jNM1x_PlayStore.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex">

        <div class="col-md-7 card-data">
          <h2 class="dark-color font-w-900 pb-2 pr-3"> Instructor Mobile App</h2>
          <p class="pb-3 mb-3 brand-color3 font-16 line-height25 font-w-500 border-bottom">The Signal Health Group
            The Signal Health Group instructor mobile app is built to allow your instructor to check in customers for a
            class
            without needing to be behind the desk, book an appointment on the go, and update their schedule
            availability.
          </p>
          <div class="d-flex">
            <a href="#"><img class="btn-store"
                src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/nDQZHxg6T6OFwuM0j1ux_AppStore.png" /></a>
            &nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#"><img class="btn-store"
                src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/977775/settings_images/BiDHzLuJSoCEnB0jNM1x_PlayStore.jpg" /></a>
          </div>
        </div>
        <div class="col-md-5 ins-image">
          <img src="../../../assets/img/app_img1.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>