<app-header></app-header>


<!-- App Features Content Section -->
<div class="app-second-section">
  <div class="app-get-background">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 col-md-5 wow animated slideInLeft order-2 order-md-1">
          <div class="customer-right d-flex align-items-center justify-content-center h-100">
            <div class="align-item-center">
              <div class="customer-right-appoint px-4 py-3 mb-4">
                <img src="assets/img/ic_downloads.png" class="d-inline mr-1 mr-lg-3 ml-0 ml-lg-2 img-fluid">
                <p class="dark-color font-20 d-inline align-middle"> Download the app for free here! </p>
              </div><!-- end of customer-right-appoint -->
              <div class="text-left">
                <h2 class="dark-color font-w-900 pb-2 pr-3"> Signal Health Group customer and instructor mobile apps are available on the Apple App Store and Google Play for Free </h2>
                <p class="pb-3 mb-3 brand-color3 font-16 line-height25 font-w-500 border-bottom">Once your account has been set up, a welcome email will be automatically sent to your instructor and customer with detailed instructions on how to find, download, complete their profiles and select your personal studio in the “My Studio” list. Once your studio is selected, they can begin to start using the app. </p>
                <!-- <ul>
                  <li> <a href="Javascript:void(0);"> <img src="assets/img/google_play_btn.png"></a> </li>
                  <li> <a href="Javascript:void(0);"> <img src="assets/img/app_store_btn.png"></a> </li>
                </ul> -->
              </div><!-- end of customer-right-content -->
            </div>
          </div><!-- end of customer-right -->
        </div><!-- end of customer-Left -->

        <div class="col-12 col-md-7 wow animated slideInRight order-1 order-md-2"> 
          <div class="customer-left mt-5 mt-md-0">
            <img src="assets/img/app_img2.png" class="img-fluid">
          </div>
        </div><!-- end of customer-Right -->
      </div><!-- end of row -->
    </div><!-- end of container -->
  </div><!-- end of app-get-app-back -->
</div>
<!-- End of App Features Content Section -->
<!-- About App Content Section -->



<div class="about-back-image">
  <div class="pt-0 pt-md-0">
    <div class="container">
      <div class="text-center mt-5 pt-2">
        <div class="wow animated slideInDown">
          <h2 class="dark-color font-w-900 pb-4"> Customer and Instructor Mobile Apps  </h2>
          <p class="pb-3 brand-color3 font-16 line-height25 font-w-600 px-0 px-md-5"> Signal Health Group has two separate mobile apps developed to help you grow and manage your business easier. </p>
        </div><!-- end of About App content part -->

        <div class="row">
          <div class="col-12 col-md-7 wow animated slideInLeft"> 
            <div class="customer-left">
              <img src="assets/img/app_img1.png" class="img-fluid">
            </div>
          </div><!-- end of customer-left -->
          <div class="col-12 col-md-5 wow animated slideInRight">
            <div class="customer-right d-flex align-items-center justify-content-center h-100">
              <div class="align-item-center">
                <!-- <div class="customer-right-appoint px-4 py-3 mb-4 text-left">
                  <img src="assets/img/ic_app.png" class="d-inline mr-1 mr-lg-3 ml-0 ml-lg-2 img-fluid">
                  <p class="dark-color font-20 d-inline align-middle"> Best app for appointment </p>
                </div> -->
                <!-- end of customer-right-appoint -->
                <div class="text-left">
                  <h2 class="dark-color font-w-900 pb-2 pr-3"> Customer Mobile App </h2>
                  <p class="pb-3 mb-3 brand-color3 font-16 line-height25 font-w-500 border-bottom"> The Signal Health Group customer mobile app is available for Android and iOS.  We built the solution to allow your customers to easily find, register, and check in for a class.  They can book an appointment and purchase a product, pass, or service in seconds. </p>
                  <!-- <a href="Javascript:void(0);" class="brand-color1 font-w-900 font-25"> Get the app > </a> -->
                  <ul>
                    <li> <a href="javascript:void(0);"> <img src="assets/img/google_play_btn.png"></a> </li>
                    <li> <a href="javascript:void(0);"> <img src="assets/img/app_store_btn.png"></a> </li>
                  </ul>
                </div><!-- end of customer-right-content -->
              </div>
            </div><!-- end of customer-right -->
          </div><!-- end of customer-right -->
        </div><!-- end of row -->
      </div><!-- about app section -->
    </div><!-- end of container(About App) -->
  </div>
</div>
<!-- End of About App Content Section -->




<!-- About App Content Section -->
<div class="about-back-image">
  <div class="pt-0 pt-md-0 pb-5 pb-md-0">
    <div class="container">
        <div class="row">
         
          <div class="col-12 col-md-5 wow animated slideInLeft">
            <div class="customer-right d-flex align-items-center justify-content-center h-100">
              <div class="align-item-center">
                <!-- <div class="customer-right-appoint px-4 py-3 mb-4 text-left">
                  <img src="assets/img/ic_app.png" class="d-inline mr-1 mr-lg-3 ml-0 ml-lg-2 img-fluid">
                  <p class="dark-color font-20 d-inline align-middle"> Best app for appointment </p>
                </div> -->
                <!-- end of customer-right-appoint -->
                <div class="text-left">
                  <h2 class="dark-color font-w-900 pb-2 pr-3"> Instructor Mobile App </h2>
                  <p class="pb-3 mb-3 brand-color3 font-16 line-height25 font-w-500 border-bottom"> The Signal Health Group instructor mobile app is built to allow your instructor to check in customers for a class without needing to be behind the desk, book an appointment on the go, and update their schedule availability. </p>
                  <!-- <a href="Javascript:void(0);" class="brand-color1 font-w-900 font-25"> Get the app > </a> -->
                  <ul>
                    <li> <a href="javascript:void(0);"> <img src="assets/img/google_play_btn.png"></a> </li>
                    <li> <a href="javascript:void(0);"> <img src="assets/img/app_store_btn.png"></a> </li>
                  </ul>
                </div><!-- end of customer-right-content -->
              </div>
            </div><!-- end of customer-right -->
          </div><!-- end of customer-right -->

          <div class="col-12 col-md-7 wow animated  slideInRight"> 
            <div class="customer-left">
              <img src="assets/img/app_img1.png" class="img-fluid">
            </div>
          </div><!-- end of customer-left -->
        </div><!-- end of row -->
      </div><!-- about app section -->
    </div><!-- end of container(About App) -->
  </div>

<!-- End of About App Content Section -->


    
<app-footer></app-footer>