<app-inner-header></app-inner-header>
<div class="body-grey">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}" ></ngx-loading>

<!-- My Studio Card Detials Section -->
      <div class="studio-details client-home-inner">
        <div class="container">
          <div class="studio-details-upper box-shadow1 white-bg mb-3">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="std-details-upper-left d-flex align-items-center justify-content-center" style="background-image:url({{businessDetail.business_img}});background-size: cover;background-position:center;min-height:406px">

                <!-- <div class="std-details-upper-left d-flex align-items-center justify-content-center"> -->
                  <!-- <img src="{{businessDetail.business_img}}" class="img-fluid w-100"> -->
                  <!-- <div class="std-position-logo text-center">
                    <img src="assets/img/logo_white_web.png" class="img-fluid">
                  </div> -->
                </div>
              </div><!-- end of std-details-upper-left -->
    
              <div class="col-12 col-lg-6">
                <div class="std-details-upper-right text-center p-3">
                  <div class="">
                    <img src="{{businessDetail.logo}}" class="mb-4 log-img">
                    <h4 class="title dark-color mb-2"> {{businessDetail.business_name}} </h4>
                    <p class="brand-color3 font-12 mb-0" *ngIf="addresslength <= 40"> {{businessDetail.address}} </p>
                    <p class="brand-color3 font-12 mb-0"  *ngIf="addresslength > 40"> {{businessDetail.address | ellipsis:40}} </p>
                        <ul class="studio-contact-details my-4">
                          <li class="ml-0"> <a routerLink="/detail"> <img src="assets/img/ic_home_web.png"> <span> Home </span></a> </li>

                      <li> <a href="tel:{{businessDetail.business_phone}}" target="blank"> <img src="assets/img/ic_call_web.png"> <span> Call </span></a> </li>
                      <li><a href="http://maps.google.com/maps?q={{businessDetail.latitude}},{{businessDetail.longitude}},14z?hl=en@{{businessDetail.address}}"  target="blank" >
                         <!-- <a href="Javascript:void(0);" (click)="getAddress(businessDetail.latitude,businessDetail.longitude)">  -->
                           
                          <img src="assets/img/ic_direction_web.png">  <span> Directions </span></a> </li>
                      <!-- <button id="googlemaplc" style="display:none">
                        <a href="https://www.google.com/maps/@{{businessDetail.latitude}},{{businessDetail.longitude}},14z?hl=en"  target="blank" ></a>
                      </button> -->
                      <li> <a href="https://mail.google.com/mail/u/0/?view=cm&to={{businessDetail.email}}&:&bcc&cc&fs=1&tf=1" target="blank"> <img src="assets/img/ic_email_web.png"> <span> Email </span></a> </li>
                      <li class="mr-0"> 
                        
                        <a href="Javascript:void(0);"  *ngIf="businessDetail.favourite == 0" (click)="addFav(businessDetail.business_id,1)"> <img src="assets/img/ic_unfavourite_web.png"> <span> Favorite </span></a>
                        <a href="Javascript:void(0);" *ngIf="businessDetail.favourite == 1" (click)="addFav(businessDetail.business_id,0)"> <img src="assets/img/ic_favourite_web.png"> <span> Favorite </span></a>
                       </li>
                    </ul>
                    <ul class="studio-service-details" *ngIf="userDetail.role_id == 3">
                      <li class="ml-md-0">
                        <a href="Javascript:void(0);" (click)="redirect('/classes')"> <img src="assets/img/ic_class.png"> <span> Classes </span> </a> 
                        </li>
                      <li > 
                        <a href="Javascript:void(0);"(click)="redirect('/staff')"  > <img src="assets/img/ic_instructors.png"> <span> Instructors </span> </a>
                       </li>
                      <li> 
                        <a href="Javascript:void(0);" (click)="redirect('/services')"> <img src="assets/img/ic_services.png"> <span> Services </span> </a> 
                      </li>
                      <li *ngIf="businessDetail.video_access == '1'">
                        <a href="Javascript:void(0);" (click)="redirect('/videos')"> <img src="assets/img/video.png"> <span> Videos </span> </a> 
                      </li>
                      <!-- <li class="mr-md-0">
                        <a href="Javascript:void(0);" (click)="redirect('/workshops')"> <img src="assets/img/ic_workshop.png"> <span> Workshops </span> </a> 
                        </li> -->
                    </ul>
                    <ul class="studio-service-details" *ngIf="userDetail.role_id == 4" >
                      <li class="ml-md-0">
                        <a href="Javascript:void(0);" (click)="redirect('/classess')"> <img src="assets/img/ic_class.png"> <span> Classes </span> </a> 
                        </li>
                      <li> 
                        <a href="Javascript:void(0);" (click)="redirect('/appointment')"> <img src="assets/img/ic_appointment.png"> <span> Appointment </span> </a> 
                      </li>
                      <li class="mr-md-0" *ngIf="businessDetail.video_access == '1'">
                        <a href="Javascript:void(0);" (click)="redirect('/my-videos')"> <img src="assets/img/video.png"> <span> Videos </span> </a> 
                      </li>
                      <!-- <li class="mr-md-0">
                        <a href="Javascript:void(0);" (click)="redirect('/workshopss')"> <img src="assets/img/ic_workshop.png"> <span> Workshops </span> </a> 
                        </li> -->
                    </ul>
                  </div>
                </div>
              </div><!-- end of std-details-upper-right -->
            </div><!-- end of row -->
         
    </div>
    <div class="text-right mb-2">
      <button type="button" class="btn btn-blue-grad px-2 text-uppercase" [routerLink]="backurl" >Back </button>
    </div>
      <div class="home-staff" *ngIf="userDetail.role_id == 3">
        <div class="row staff-studio-details">
     
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-classlist')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Classes</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/appointments')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Appointments</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <!-- <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-workshop')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Workshops</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div> -->
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-waitlist')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Waitlists</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-attendance')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Attendance</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-purchase')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Purchases</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
      
        </div>
        <!-- <div class="row mt-4">
          <div class="col-md-12">
              <h4 class="text-uppercase"> Week Plan</h4>
          </div>
          <div class="col-md-12">
              <div class="row">   
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Mon</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Tue</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Wed</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Thus</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Fri</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Sat</a>
                      </div>
                  </div>
                  <div class="col-1">
                      <div class="weeks_day box-shadow1 white-bg radius8">
                          <a href="javascript:void(0)"class=""> Sun</a>
                      </div>
                  </div>
                  <div class="offset-1 col-4">
                      <div class="add_new">
                          <a href="javascript:void(0)" class="btn btn_add"> Add New</a>
                      </div>
                  </div>
      
              </div>    
          </div>
      </div> -->
      
      <div class="row mt-4 d-none">
          <div class="col-md-12">
              <h4 class="text-uppercase"> Manual Activity Tracking Meal</h4>
          </div>
          <div class="col-md-12">
              <div class="row">
                  <div class="col-12 col-sm-4 col-md-3">
                      <div class="meal_box bg-pink text-center">
                          <img src="assets/img/ic-shoulder.png" class="img-fluid">
                          <p class="mt-3"> Shoulder</p>
                          <div class="icon_right">
                              <a href="javascript:void(0)"class=""> <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                      <div class="meal_box bg-pinklight text-center">
                          <img src="assets/img/ic-cycling.png" class="img-fluid">
                          <p class="mt-3"> Cycling</p>
                          <div class="icon_right">
                              <a href="javascript:void(0)"class=""> <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                      <div class="meal_box bg-bluelight text-center">
                          <img src="assets/img/ic-fooddiet.png" class="img-fluid">
                          <p class="mt-3"> Food Diet</p>
                          <div class="icon_right">
                              <a href="javascript:void(0)"class=""> <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                      <div class="meal_box bg-darkblue text-center">
                          <img src="assets/img/ic-dumbbells.png" class="img-fluid">
                          <p class="mt-3"> Dumbbells</p>
                          <div class="icon_right">
                              <a href="javascript:void(0)"class=""> <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                      <div class="meal_box bg-bluelightextra text-center">
                          <img src="assets/img/ic-running.png" class="img-fluid">
                          <p class="mt-3"> Running</p>
                          <div class="icon_right">
                              <a href="javascript:void(0)"class=""> <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>    
      
              </div>
          </div>
      </div>  
      </div><!-- end of home-staff -->

      <div class="home-staff" *ngIf="userDetail.role_id == 4">
        <div class="row staff-studio-details">
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/availability')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Availability</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/classess')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Classes</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <!-- <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/workshopss')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Workshops</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div> -->
            <div class="col-md-6" *ngIf="businessDetail.video_access == '1'">
            <a href="javascript:void(0)" (click)="redirect('/my-library')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Library</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>

          <!-- <div class="col-md-6" *ngIf="businessDetail.video_access == '1'">
            <a href="javascript:void(0)" (click)="redirect('/my-nutrition')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Nutrition</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div> -->
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-appointment')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Appointments</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/client')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Customers</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="javascript:void(0)" (click)="redirect('/my-shift')">
              <div class="tabbox box-shadow1 border-radius6 px-4 py-3 d-flex align-items-center bg-white">
                <h4 class="black-color font-w-400 font-18 mb-0">My Shifts</h4>
                <i class="fas fa-chevron-right ml-auto black-color font-w-600"></i>
              </div>
            </a>
          </div>
        </div>
      </div><!-- end of home-staff -->
    </div><!-- end of container -->
  </div>          
<!-- End of My Studio Card Detials Section -->
</div>
<app-inner-footer></app-inner-footer>

