<app-inner-header></app-inner-header>
<div class="body-grey">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}"></ngx-loading>

  <!-- My Studio Card Detials-Service Section -->
  <div class="client-payment">
    <div class="container">

      <div class="py-5">
        <div class="row">
          <div class="col-6 text-left">
            <h4 class="title black-color text-uppercase"> My payments </h4>
          </div>
          
        </div><!-- End of Heading -->

      <div class="row">
        <div class="col-12 col-lg-6 mt-5 mt-lg-0 px-0 pr-2">
          <div class="client-buy-process border-radius6 box-shadow1 white-bg">
            <div class="p-3 text-left light-bg border-t-lr-6">
              <h5 class="title black-color font-w-100 text-uppercase font-16 mb-0"> credit card / debit card </h5>
            </div><!-- top heading -->

            <form [formGroup]="paymentCard" *ngIf="cardType == 'new'">

              <div class="row py-4 px-3">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <p class="brand-color3 text-left font-14 mb-2"> Name On Card </p>
                    <input type="text" class="form-control" autocomplete="off"
                      onkeyup="this.value=this.value.replace(/^\s+/g, '')" placeholder="Sophie Joe"
                      formControlName="card_holder_name"
                      [ngClass]="{ 'is-invalid': submitted && f.card_holder_name.errors }">
                    <div *ngIf="submitted && f.card_holder_name.errors" class="invalid-feedback">
                      <div *ngIf="f.card_holder_name.errors.required">Card Holder Name is required</div>
                      <div *ngIf="f.card_holder_name.errors.pattern">Card Holder Name is required</div>
                    </div>
                  </div>
                </div><!-- First Name -->

                <div class="col-12 col-sm-6">
                  <div class="form-group client-buy-input-cardno">
                    <p class="brand-color3 text-left font-14 mb-2"> Card Number </p>
                    <input type="text" class="form-control" autocomplete="off"
                      onkeyup="this.value=this.value.replace(/^\s+/g, '')" placeholder="4121 4411 3131 8554"
                      pattern="\d{15,19}" onKeyPress="if(this.value.length >= 19) return false;"
                      formControlName="card_number" [ngClass]="{ 'is-invalid': submitted && f.card_number.errors }">
                    <!-- <img src="assets/img/ic_visacard.png" class="input-visa-img">  -->
                    <div *ngIf="submitted && f.card_number.errors" class="invalid-feedback">
                      <div *ngIf="f.card_number.errors.required">Card Number is required</div>
                      <div *ngIf="f.card_number.errors.pattern">Card Number is not valid</div>

                    </div>
                  </div>
                </div><!-- Last Name -->

                <div class="col-12 col-sm-6 mt-2 mt-md-3">
                  <div class="form-group">
                    <p class="brand-color3 text-left font-14 mb-2"> Valid Till </p>
                    <input type="text" class="form-control" autocomplete="off" placeholder="MM/YYYY"
                      formControlName="expiry" [ngClass]="{ 'is-invalid': submitted && f.expiry.errors }" minlength="5"
                      maxlength="5"
                      onKeyPress="if(this.value.length == 2) return this.value=this.value.replace(this.value, this.value+'/');"
                      pattern="^\d{2}/\d{4}">
                    <!-- <input type="number"  class="form-control"  placeholder="MM/YYYY" formControlName="expiry" pattern="\d{2}/\d{2}"  onKeyPress="if(this.value.length >=5) return false;" [ngClass]="{ 'is-invalid': submitted && f.expiry.errors }"> -->
                    <div *ngIf="submitted && f.expiry.errors" class="invalid-feedback">
                      <div *ngIf="f.expiry.errors.required">Valid Till is required</div>
                      <div *ngIf="f.expiry.errors.pattern">Valid Till is like MM/YY</div>

                    </div>
                  </div>
                </div><!-- Email -->

                <div class="col-12 col-sm-6 mt-2 mt-md-3">
                  <div class="form-group">
                    <p class="brand-color3 text-left font-14 mb-2"> CVV </p>
                    <input type="password" class="form-control" autocomplete="off"
                      onkeyup="this.value=this.value.replace(/^\s+/g, '')" placeholder="eg. 201" pattern="\d{3,4}"
                      onKeyPress="if(this.value.length >=4) return false;" formControlName="cvv_no"
                      [ngClass]="{ 'is-invalid': submitted && f.cvv_no.errors }">
                    <div *ngIf="submitted && f.cvv_no.errors" class="invalid-feedback">
                      <div *ngIf="f.cvv_no.errors.required">CVV is required</div>
                      <div *ngIf="f.cvv_no.errors.pattern">CVV is not valid</div>

                    </div>
                  </div>
                </div>
               
                <div class="col-12 d-flex pt-5 text-center px-4">

                  <button type="button" class="btn btn-green-grad flex-fill text-uppercase mb-0 mb-md-5"
                    (click)="payment()"> Submit </button>
                  <button type="button" class="btn btn-blue-grad flex-fill text-uppercase ml-3 mb-0 mb-md-5"
                    (click)="closed()">Close</button>

                </div><!-- end of button and view policy -->

              </div>
            </form>
            <div class="client-payment-input border-radius6 box-shadow1 white-bg p-4" *ngIf="cardType != 'new'">
              <div class="row" *ngIf="customerData.length !=0">
                <!-- <div class="col-12">
                  <button class="btn btn-blue-grad mb-3 d-block ml-auto" (click)="cardType = 'new'"> Add New Card
                  </button>
                </div> -->
                <div class="col-12 mb-3" *ngFor="let cardsave of customerData">
                  <!-- <div class="client-card-img white-bg border-radius6 box-shadow1" *ngIf="cardsave.length != 0">

                    <div class="row">
                      <div class="col-2">
                        <img src="assets/img/visa_card.png" *ngIf="cardsave.card_type== 'visa'"
                          class="img-fluid payment_img">
                        <img src="assets/img/master_card.png" *ngIf="cardsave.card_type== 'mc'"
                          class="img-fluid payment_img">
                        <img src="assets/img/american_express.png" *ngIf="cardsave.card_type== 'am'"
                          class="img-fluid payment_img">
                      
                      </div>
                      <div class="col-7 select-card select-card-img select-card-cvv mb-2 pl-3">
                        <p class="mb-0 font-12 dark-color mt-2">{{cardsave.number}} </p>
                        <h5 class="mb-0 font-12 dark-color mt-2">Valid Till(MM/YYYY) </h5>
                        <p class="mb-0 font-12 dark-color mt-2">{{cardsave.expiry_month}} / {{cardsave.expiry_year}}</p>
                      </div>
                      <div class="col-3 pt-4 pl-5">
                        
                        <span class="delete d-inline-block border-radius6" (click)="deletecardDetail(cardsave.card_id)">
                          <a href="Javascript:void(0);"> <i class="fas fa-trash-alt"></i> </a> </span>
                      </div>
                    </div>
                  </div> -->

                  <!-- //////// -->
                  <div class="payment-history-box white-bg border-radius6 box-shadow1 p-3 mb-3">
                    <div class="row mx-0">
                      <div class="col-2 pl-0">
                        <img src="assets/img/visa_card.png" *ngIf="cardsave.card_type== 'visa'"
                          class="img-fluid">
                        <img src="assets/img/master_card.png" *ngIf="cardsave.card_type== 'mc'"
                          class="img-fluid">
                        <img src="assets/img/american_express.png" *ngIf="cardsave.card_type== 'am'"
                          class="img-fluid">
                      </div>
                      <div class="col-8 pl-0">
                        <p class="mb-0 font-14 font-w-500 dark-color">{{cardsave.business_name}}</p>

                        <p class="mb-0 font-14 font-w-500 dark-color">{{cardsave.number}}</p>
                        <h5 class="mb-0 font-12 dark-color mt-2">Valid Till(MM/YYYY) </h5>
                        <p class="mb-0 font-12 dark-color">{{cardsave.expiry_month}} / {{cardsave.expiry_year}}</p>
                      </div>
                      <div class="col-2 text-right">
                        <a href="Javascript:void(0);" (click)="deletecardDetail(cardsave.card_id)"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>

                </div><!-- end of Master Card -->


              </div> <!-- end of row -->
              <div class="row" *ngIf="customerData.length ==0">
                <p class="text-center">No Record Found</p>

              </div>
            </div>


          </div>
        </div><!-- end of col-md-6 -->
     
      </div><!-- end of s-d-appoint -->

    </div><!-- end of container -->
  </div>
  <!-- End of My Studio Card Detials-Service Section -->
</div>
<app-inner-footer></app-inner-footer>